<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/prism.js " | prepend: site.baseurl }}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/locale-all.js"></script>

<script>
  $(document).ready(function() {
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'month,listMonth'
      },
      locale: "pt-br",
      navLinks: true, // can click day/week names to navigate views
      eventLimit: true, // allow "more" link when too many events
      events: [
          {
            title: 'Reunião- Discussão sobre projetos do grupo para o semestre',
            start: '2018-03-02T13:30:00',
            end: '2018-03-02T14:30:00'
          },
          {
            title: 'Encontro Comum',
            start: '2018-03-09T13:30:00',
            end: '2018-03-09T14:30:00'
          },
          {
            title: 'Encontro Comum',
            start: '2018-03-16T13:30:00',
            end: '2018-03-16T14:30:00'
          },
          {
            title: 'Encontro Comum',
            start: '2018-03-23T13:30:00',
            end: '2018-03-23T14:30:00'
          },
          {
            title: 'Semana Santa',
            start: '2018-03-26T00:00:00',
            end: '2018-03-31T14:30:00',
            allDay : true,
            color: 'red'
          }
      ]
    });

    
  });

</script>
