/******************************************************************************
 *                             Hardware Livre USP                             *
 *                                                                            *
 *                             Raphael R. Gusmão                              *
 ******************************************************************************/

html, body {
  background: #252525;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
::selection {
  background: #009696;
  color: #FFFFFF;
}
::-moz-selection {
  background: #009696;
  color: #FFFFFF;
}
a {
  color: #009696;
}
a:hover {
  color: #007979;
}

h1, h2, h3, h4, h5, h6 {
  color: #009696;
  font-weight: 400;
  margin: 0;
}

span {
  color: #009696;
}

/******************************************************************************
 * Header                                                                     *
 ******************************************************************************/
#header-navbar {
  background-color: #009696;
  white-space: nowrap;
}
#header-logo {
  margin: -1px 11px -1px 0;
}
#header-logo-text {
  margin: -1px 11px -1px 0;
}
.navbar-toggler {
  font-size: 20px;
  margin: 0px -4px;
  padding: 0 0 0 0;
}
.nav-link {
  height: 32px;
  padding: 5px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #007979;
}
.cover-container {
  background: #212121;
  height: 448px;
  width: 100%;
  position: relative;
  border-radius: 2px;
}
.cover-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(5px) brightness(50%);
  border-radius: 2px;
}
.cover {
  height: 100%;
  width: 100%;
  padding: 56px 0;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  border-radius: 2px;
  filter: brightness(99%);
}

/******************************************************************************
 * Modal                                                                      *
 ******************************************************************************/
#modal {
  cursor: zoom-out;
}
.modal-dialog {
  background: rgba(0,0,0,0);
  width: 60%;
  max-width: none !important;
}
@media screen and (max-width: 991px) {
  .modal-dialog {
    width: 100%;
  }
}
.modal-dialog img {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}
.modal-backdrop.show {
  opacity: .75;
}

/******************************************************************************
 * Content                                                                    *
 ******************************************************************************/
main {
  background: #F5F5F5;
  margin: -25px 0 0 0;
  padding: 25px 0 1px 0;
}
.table-container {
  overflow-x: auto;
  margin: 24px 0 24px 0;
}
table {
  margin: 0 auto;
}
td, th {
  font-size: 14px !important;
  font-weight: 400 !important;
}
th {
  color: #009696 !important;
}
.mdl-data-table tbody tr {
  height: 32px;
}
ul {
  text-align: justify;
}
li p {
  text-indent: inherit !important;
}
li ul {
  margin: -16px 0 0 0;
}
pre.prettyprint {
  background: #F5F5F5;
  padding: 0 4px 2px 4px !important;
  margin: 24px 0;
  border: 1px solid #009696 !important;
  border-radius: 2px;
}
.highlighter-rouge {
  color: #009696;
  background: #E0F2F2;
  font-size: 16px;
  font-weight: bold;
}
.youtube {
  height: 512px;
  width: 100%;
  margin: -16px 0 24px 0;
}
.drive {
  width: 100%;
  height: 512px;
  border: 0;
}

/******************************************************************************
 * Home                                                                       *
 ******************************************************************************/
.carousel {
  padding: 63px 0 0 0 !important;
}
@media screen and (max-width: 600px) {
  .carousel {
    padding: 0 0 0 0 !important;
    margin: 53px 0 0 0;
  }
}
.carousel-caption span {
  background: rgba(255,255,255,.8);
  border-radius: .25rem;
  padding: 1px;
}
.carousel-caption h3 {
  margin: 0 0 2px 0;
}
.carousel-caption h3 span {
  border-radius: .25rem .25rem 0 0;
}
.carousel-caption p {
  line-height: 20px;
}
.carousel-caption p span {
  color: #212121;
  font-size: 16px;
}
.slide-img {
  width: 100%;
  height: 512px;
  object-fit: cover;
}
.home-logo-container {
  margin: 32px 0 21px 0;
  text-align: center;
}
.home-logo {
  width: 256px;
}
.demos-container {
  width: 100%;
  max-width: 1056px;
  margin: auto;
  display: flex;
  text-align: center;
}
.demo {
  flex: 1;
}
.demo-card {
  background: #FFFFFF;
  height: calc(100% - 39px);
  padding: 0 16px 10px 0;
  margin: 8px 16px 0 16px !important;
  border-radius: .25rem .25rem 0 0;
  text-align: left;
}
.demo-post {
  min-height: 128px;
  width: 100%;
  margin: 16px 0 0 0;
  display: flex;
}
.demo-post p {
  margin: 0 0 0 0;
}
.demo-post-image {
  height: 128px;
  width: 128px;
  margin: 0 16px 0 16px;
}
.demo-post-image .view {
  border-radius: .25rem;
}
.demo-post-image img {
  height: 128px;
  width: 100%;
  object-fit: cover;
  border-radius: .25rem;
  filter: brightness(99%);
}
.demo-placeholder {
  background: #009696;
  height: 128px;
  object-fit: cover;
  filter: brightness(99%);
}
.demo-placeholder-logo {
  height: 57px !important;
  width: 89px !important;
  opacity: 0.25;
}
.demo-post-content {
  height: 100%;
  width: calc(100% - 144px);
}
.demo-more {
  margin: 10px 0 0 16px;
  text-align: center;
}
@media screen and (max-width: 860px) {
  .demos-container {
    display: block;
  }
  .demo {
    margin: 21px 0 0 0;
  }
  .demo:not(:last-child) .demo-card {
    border-radius: .25rem;
  }
}

/******************************************************************************
 * Posts                                                                      *
 ******************************************************************************/
.section-posts {
  margin-top: 79px;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .section-posts {
    margin-top: 78px;
  }
}
.cards-container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.post-card {
  min-height: 464px;
  width: calc(100% - 32px);
  max-width: 320px;
  margin: 16px 14px;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
  transition: ease all .25s;
}
.post-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0,150,150,.16), 0 2px 10px 0 rgba(0,150,150,.12);
}
.post-card .view {
  border-radius: .25rem .25rem 0 0;
}
.card-img-top {
  height: 240px;
  object-fit: cover;
  filter: brightness(99%);
}
.placeholder {
  background: #009696;
}
.placeholder-logo {
  height: 128px;
  opacity: 0.25;
}
.card-body {
  padding: 23px 31px;
}
.card-title {
  min-height: 96px;
  margin: -2px 0 15px 0;
}
.post-author {
  min-height: 72px;
  margin: 0 0 0 0;
}
.post-date {
  margin: -1px 0 0 0;
}
.post-more {
  color: #009696;
  position: absolute;
  right: 31px;
  bottom: 26px;
}
.post-more:hover {
  color: #007979;
}
.pagination {
  margin: 16px 0 23px 0;
}
.page-link {
  height: 32px;
  width: 32px;
  padding: 6px 10px !important;
}
.pagination .page-item.active .page-link {
  background-color: #009696;
}
.pagination .page-item.active .page-link:hover {
  background-color: #007979;
}

/******************************************************************************
 * Footer                                                                     *
 ******************************************************************************/
footer {
  font-size: 1rem;
  padding: 25px 0 0 0;
  text-align: center;
}
footer p {
  font-size: 24px;
  margin: 0 0 11px 0;
  text-align: center;
  text-indent: inherit;
}
footer ul {
  justify-content: center;
  text-align: center;
}
footer a {
  color: #FFFFFF !important;
  transition: color .25s;
}
footer a:hover {
  color: #00BCBC !important;
}
footer .social a {
  padding: 16px 32px 16px 0;
}
footer h5 {
  color: #FFFFFF;
}
footer li::before {
  content: "";
}
.footer-copyright {
  height: 32px;
  font-size: 16px !important;
  padding-top: 7px;
  margin: 31px 0 0 0;
}

/******************************************************************************/
