---
layout: page
description: "A Clean Blog Theme by Start Bootstrap"
header-img: "img/logo.jpg"
---

<h2> Blog </h2>

Veja abaixo as principais atualizações do grupo.

{% for post in paginator.posts %}
<hr>
<div class="post-preview">
    <div class="row">
        <div class="col-md-8">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h4 class="post-title">{{ post.title }}</h4>
                {% if post.subtitle %}
                <h5 class="post-subtitle">
                    {{ post.subtitle }}
                </h5>
                {% endif %}
            </a>
            <p class="post-meta">Postado por {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} em {{ post.date | date: "%-d/%m/%Y" }}</p>
        </div>
        <div class="col-md-4">
            {% if post.img %}
            <a href="{{ post.url | prepend: site.baseurl }}" class="thumbnail">
              <img src="{{ site.baseurl }}/{{ post.img }}"  style="max-height: 120px;">
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Novas</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Antigas &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
