---
layout: default
---

<!-- Post Header -->
<header class="intro-header"  style="background-image: url('{{ site.baseurl }}/img/papel.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">  Redigido por {% if page.redator %}{{ page.redator }}{% else %}{{ site.title }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="text-align: justify;">
			          {{ content }}
            </div>
        </div>
    </div>
</article>

<hr>
